################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OricTapeKnife/bin/Debug
/OricTapeKnife/obj
